body {
    background: url('/img/sociedad.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0px;
    margin: 0px;
}

.cajas {
    display: flex;
    flex-direction: row;
}

.cajas div {
    flex: 0 0 20%;
    padding: 2%;
}